<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="https://www.nitj.ac.in/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><img style="max-width: 100%; height:auto" src="img/unnamed.png" alt="NITJ LOGO"></h2>
            <span class="m-0 text-primary text-head" style="padding-left: 2vw;">
                डा बी आर अम्बेडकर राष्ट्रीय प्रौद्योगिकी संस्थान, जालंधर<br/>
                 Dr B R Ambedkar National Institute of Technology, Jalandhar</span>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/home" id="home_menu" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a id="curriculam_dropdown" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Curriculum</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="#1" class="dropdown-item">Semester 3</a>
                        <a href="#2" class="dropdown-item">Semester 4</a>
                        <a href="#3" class="dropdown-item">Semester 5</a>
                        <a href="#4" class="dropdown-item">Semester 6</a>
                        <a href="#5" class="dropdown-item">Semester 7</a>
                        <a href="#5" class="dropdown-item">Semester 8</a>
                        <a href="#5" class="dropdown-item">Open Electives</a>
                        <a href="#5" class="dropdown-item">Departmental Electives</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a id="placements_dropdown" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Placements</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="#1" class="dropdown-item">Interview Experiences</a>
                        <a href="#2" class="dropdown-item">Interview Questions</a>
                        <a href="#3" class="dropdown-item">DSA</a>
                        <a href="#4" class="dropdown-item">Resume Building</a>
                        <a href="#5" class="dropdown-item">Others</a>
                    </div>
                </div>
                <a id="feedback_menu" href="/feedback" class="nav-item nav-link">Feedback</a>
                <span class="nav-item nav-link">Hi, {{user}}</span>
                {{!-- <span class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Hi, Kshitiz</span> --}}
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
</body>
</html>