<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a target="_blank" href="https://www.nitj.ac.in/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><img style="max-width: 100%; height:auto" src="img/unnamed.png"
                    alt="NITJ LOGO"></h2>
            <span class="m-0 text-primary text-head" style="padding-left: 2vw;">
                डा बी आर अम्बेडकर राष्ट्रीय प्रौद्योगिकी संस्थान, जालंधर<br />
                Dr B R Ambedkar National Institute of Technology, Jalandhar</span>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/home" id="home_menu" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a id="curriculam_dropdown" class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown">Curriculum</a>
                    <div id="academics_menu" class="dropdown-menu fade-down m-0">
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a id="placements_dropdown" class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown">Placements</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/dsa"><span class="dropdown-item click_cursor">DSA</span></a>
                        <a href="/oops"><span class="dropdown-item click_cursor">OOPC</span></a>
                        <a href="/dbms"><span class="dropdown-item click_cursor">DBMS</span></a>
                        <a href="/os"><span class="dropdown-item click_cursor">OS</span></a>
                        <a href="/webd"><span class="dropdown-item click_cursor">Web Development</span></a>
                        <a href="/cn"><span class="dropdown-item click_cursor">Computer Networks</span></a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <span id="me_dropdown" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Me</span>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/admin"><span id="adminPrivDrop" class="dropdown-item click_cursor">Admin
                                Access</span></a>
                        <a href="/faculty"><span id="adminPrivDrop" class="dropdown-item click_cursor">Privileged
                                Access</span></a>
                        <a href="/changePassword"><span class="dropdown-item click_cursor">Change Password</span></a>
                        <a href="/login"><span class="dropdown-item click_cursor">Logout</span></a>
                    </div>
                </div>
                <a id="feedback_menu" href="/support" class="nav-item nav-link">Support</a>
            </div>
        </div>
    </nav>
    <form id="semesterFormH" method="get" hidden>
        <input type="text" name="sem" id="semNumH" hidden>
    </form>
    <!-- Navbar End -->
    <script>
        academics_menu = document.getElementById("academics_menu");
            fetch('/get-academics-sem-list', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    data.forEach(item => {
                        const element = document.createElement("span");
                        element.classList.add("dropdown-item");
                        element.classList.add("click_cursor");
                        element.setAttribute("onclick", `redirectToSemester('${item.name}')`)
                        element.innerHTML = `${item.name}`;
                        academics_menu.appendChild(element);
                    });
                })
                .catch(error => console.error('Error fetching academics menu:', error));
        function redirectToSemester(semester) {
            $('#spinner').addClass('show');
            document.getElementById("semNumH").value = semester;
            let form = document.getElementById("semesterFormH");
            form.setAttribute("action", "/semester");
            form.submit();
        }
        
    </script>
</body>

</html>