
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="css/loginPage.css">
</head>
<body>
	<div class="box">
		<form id="loginForm" autocomplete="on">
			<h2>Sign in</h2>
			<div id="inputBox1" class="inputBox">
				<input id="receiversMail" name="mail" type="email" required="required">
				<span id="uname" >Userame</span>
				<i></i>
			</div>
			<p class="error_msg" id="error_box"></p>
			<button id="next">Next</button>
		</form>
	</div>
	<script src="js/loginAndAccess.js"></script>
	
</body>
</html>