<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin - IT Resource Bank</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="https://www.nitj.ac.in//images/ico/favicon.ico" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {{>header}}
    <form id="adminForm" hidden>
        <input id="allUsersList" value="{{allUsersList}}" hidden>
        <input id="privilegedUsersList" value="{{privilegedUsersList}}" hidden>
    </form>

    <form id="deleteDirectoryForm" action="/admin/delete-directory?_method=DELETE" method="POST"
        onsubmit="return confirm('Are you sure you want to delete?');" hidden>
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="directoryToBeDeleted" id="directoryToBeDeleted" value="">
    </form>


    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    <!-- Modal -->

    <button type="button" class="btn btn-primary rename-semester-btn" id="ShowalertManagementModal"
        data-bs-toggle="modal" data-bs-target="#alertManagementModal" style="display: none;"></button>
    <div class="modal fade" id="alertManagementModal" tabindex="-1" aria-labelledby="alertManagementModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertManagementModalLabel"></h5>
                    <button id="closeAlertButton" type="button" class="btn-close" data-bs-dismiss="modal"
                        data-bs-dismiss="modal" data-bs-target="#alertManagementModal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="alertModalBody">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-dismiss="modal"
                        data-bs-target="#uploadFileModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fileUploadForm" action="/admin/upload-timetable?_method=POST" method="POST">
                        <input type="hidden" name="_method" id="fileUploadFormMethod" value="POST">
                        <div id="fileNameDiv" class="mb-3 row">
                            <label for="fileName" id="fileNameLabel" class="col-sm-3 col-form-label">Semester
                                Name:</label>
                            <div class="col-sm-9">
                                <input type="text" required class="form-control-plaintext border border-secondary"
                                    id="fileName" name="fileName" aria-label="File Name">
                            </div>
                        </div>
                        <div id="fileInputDiv" class="mb-3 row">
                            <label for="fileInput" class="col-sm-3 col-form-label">Select File(Image Files Only):</label>
                            <div class="col-sm-9">
                                <input required class="form-control border border-secondary" type="file" id="fileInput"
                                    name="fileInput" aria-label="File Input">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="d-grid gap-2 col-9 mx-auto position-absolute end-0">
                                <button type="button" onclick="submitUploadForm()"
                                    class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        data-bs-target="#uploadFileModal" aria-label="Close" id="uploadFileModalClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadFacultyModal" tabindex="-1" aria-labelledby="uploadFacultyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFacultyModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-dismiss="modal"
                        data-bs-target="#uploadFacultyModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="facultyUploadForm" action="/admin/upload-faculty?_method=POST" method="POST">
                        <input type="hidden" name="_method" id="facultyUploadFormMethod" value="POST">
                        <div id="facultyNameDiv" class="mb-3 row">
                            <label for="facultyName" id="facultyNameLabel" class="col-sm-3 col-form-label">Faculty
                                Name:</label>
                            <div class="col-sm-9">
                                <input type="text" required class="form-control-plaintext border border-secondary"
                                    id="facultyName" name="facultyName" aria-label="Faculty Name">
                            </div>
                        </div>
                        <div id="facultyRoleDiv" class="mb-3 row">
                            <label for="facultyRole" id="facultyRoleLabel" class="col-sm-3 col-form-label">Faculty
                                Designation:</label>
                            <div class="col-sm-9">
                                <input type="text" required class="form-control-plaintext border border-secondary"
                                    id="facultyRole" name="facultyRole" aria-label="Faculty Role">
                            </div>
                        </div>
                        <div id="facultyProfileDiv" class="mb-3 row">
                            <label for="facultyProfile" id="facultyProfileLabel" class="col-sm-3 col-form-label">Profile Link:</label>
                            <div class="col-sm-9">
                                <input type="text" required class="form-control-plaintext border border-secondary"
                                    id="facultyProfile" name="facultyProfile" aria-label="Faculty Profile">
                            </div>
                        </div>
                        <div id="facultyEmailDiv" class="mb-3 row">
                            <label for="facultyEmail" id="facultyEmailLabel" class="col-sm-3 col-form-label">Email:</label>
                            <div class="col-sm-9">
                                <input type="text" required class="form-control-plaintext border border-secondary"
                                    id="facultyEmail" name="facultyEmail" aria-label="Faculty Email">
                            </div>
                        </div>
                        <div id="facultyContactDiv" class="mb-3 row">
                            <label for="facultyContact" id="facultyContactLabel" class="col-sm-3 col-form-label">Contact No.:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control-plaintext border border-secondary" required
                                    id="facultyContact" name="facultyContact" aria-label="Faculty Contact" value="+91xxxxxxxxxx" placeholder="+91xxxxxxxxxx">
                            </div>
                        </div>
                        <div id="fileInputDiv" class="mb-3 row">
                            <label for="photoInput" class="col-sm-3 col-form-label">Select Photo(Image Files Only):</label>
                            <div class="col-sm-9">
                                <input required class="form-control border border-secondary" type="file" id="photoInput"
                                    name="photoInput" aria-label="Photo Input">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="d-grid gap-2 col-9 mx-auto position-absolute end-0">
                                <button type="button" onclick="submitFacultyUploadForm()"
                                    class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        data-bs-target="#uploadFacultyModal" aria-label="Close" id="uploadFacultyModalClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="schemaManagementModal" tabindex="-1" aria-labelledby="schemaManagementModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="schemaManagementModalLabel">Enter Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-dismiss="modal"
                        data-bs-target="#schemaManagementModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="schemaManagementForm">
                        <input type="hidden" name="_method" id="schemaManagementFormMethod">
                        <input type="hidden" name="directoryToBeModified" id="directoryToBeModified">
                        <div class="mb-3">
                            <label for="newName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="newName"
                                placeholder="HMCI-201: Economics for Engineers" name="newName" required>
                        </div>
                        <div id="subDiv" class="mb-3">
                            <label for="subType" class="form-label">Subject Type</label>
                            <select class="form-select" id="subType" name="subType" required>
                                <option value="Theory" selected>Theory</option>
                                <option value="Lab">Lab</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        data-bs-target="#schemaManagementModal" aria-label="Close"
                        id="schemaManagementModalClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Admin</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/home">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Admin</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Admin</h6>
                <h1 class="mb-5">Manage Users and Access</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                    <h5>Privileged Users</h5>
                    <div class="mb-3">
                        <input id="searchInputPrivilegedUsers" type="text" class="form-control"
                            placeholder="Search by username">
                    </div>
                    <div style="height: 500px; overflow-y:auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Username</th>
                                    <th scope="col" style="width: 30%; text-align: center;">Remove Privileged Access
                                    </th>
                                    <th scope="col" style="width: 25%; text-align: center;">Remove User</th>
                                </tr>
                            </thead>
                            <tbody id="privilegedUsersTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <h5>Non-Privileged Users</h5>
                    <div class="mb-3">
                        <input id="searchInputAllUsers" type="text" class="form-control"
                            placeholder="Search by username">
                    </div>
                    <div style="height: 500px; overflow-y:auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Username</th>
                                    <th scope="col" style="width: 30%; text-align: center;">Provide Privileged Access
                                    </th>
                                    <th scope="col" style="width: 25%; text-align: center;">Remove User</th>
                                </tr>
                            </thead>
                            <tbody id="allUsersTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Admin</h6>
                <h1 class="mb-5">Manage Academics Schema</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                    <h5>Manage Semesters</h5>
                    <div style="height: 500px; overflow-y:auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Semesters</th>
                                    <th scope="col" style="width: 20%; text-align: center;">Rename</th>
                                    <th scope="col" style="width: 20%; text-align: center;">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="directoryTreeLevel1">
                                <tr>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                    <h5 id="SubjectsTableHeading">Manage Subjects</h5>
                    <div class="mb-3" style="text-align: center;" id="addSubjectsToSemester">
                    </div>
                    <div style="height: 438px; overflow-y:auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Subjects</th>
                                    <th scope="col" style="width: 20%; text-align: center;">Rename</th>
                                    <th scope="col" style="width: 20%; text-align: center;">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="directoryTreeLevel2">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Academics</h6>
            <h1 class="mb-5">Manage Schedule and Faculty</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-sm-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Upload TimeTable</h5>
                <div class="d-grid gap-2 col-6">
                    <button id="upload-timetable-btn" type="button" class="btn btn-primary timetable-upload" data-bs-toggle="modal"
                        data-bs-target="#uploadFileModal">Upload Timetable</button>
                </div>
                <br>
                <h5>Delete TimeTable</h5>

                <div id="tableForDelete">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 20%; text-align: center;">Semester Name</th>
                                <th scope="col" style="width: 10%; text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="scheduleListForDelete">
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Upload Faculty</h5>
                <div class="d-grid gap-2 col-6">
                    <button id="upload-faculty-btn" type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#uploadFacultyModal">Upload Faculty</button>
                </div>
                <br>
                <h5>Delete Faculty</h5>

                <div id="tableForDeleteFaculty">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 20%; text-align: center;">Faculty Email</th>
                                <th scope="col" style="width: 10%; text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="facultyListForDelete">
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="row g-4">

        </div>
    </div>

    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Get Control</h6>
            <h1 class="mb-5">Inspect Logs</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-sm-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Download Logs</h5>
                <div class="d-grid gap-2 col-6">
                    <button onclick="downloadLog()"  id="upload-timetable-btn"  class="btn btn-primary" >Download log file.</button>
                </div>
                <br>

            </div>
        </div>
        <hr>
        <div class="row g-4">

        </div>
    </div>
    <!-- Contact End -->

    {{>footer}}

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/admin.js"></script>
    <script>
        window.onload = function () {
            document.getElementById("home_menu").classList.remove("active");
            document.getElementById("curriculam_dropdown").classList.remove("active");
            document.getElementById("placements_dropdown").classList.remove("active");
            document.getElementById("feedback_menu").classList.remove("active");
            document.getElementById("me_dropdown").classList.add("active");
        }
    </script>
</body>

</html>