<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Computer Network </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta
        content="NIT Jalandhar, Dr B R Ambedkar NITJ, NITJ, National Institute of Technology Jalandhar, NITJ Website, NitJ IT Resource Bank, NitJ IT Notes,NitJ IT,NitJ IT PPTs, DSA, Data Structures and Algorithms, "
        name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="https://www.nitj.ac.in//images/ico/favicon.ico" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {{>header}}

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            {{!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/course-2.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div> --}}
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="padding: 0px 100px 0px 100px;">
                <h4 class="section-title bg-white text-center text-primary px-3">Introduction to Computer Networks</h4>
                <h1 class="my-3">Computer Networks</h1>
                <p class="my-3">A computer network is a collection of two or more computer systems that are linked together. A network connection can be established using either cable or wireless media. Hardware and software are used to connect computers and tools in any network.
                  <br>What Do Computer Networks Do?</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Computer Networks help in operating virtually</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Computer Networks integrate on a large scale</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Computer Networks respond very quickly in case of conditions change</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Computer Networks help in providing data security</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Testimonial Start -->

    <div class="container-xxl py-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h4 class="section-title bg-white text-center text-primary px-3">Theory</h4>
                <h1 class="my-3">Learn Computer Networks</h1>
                <br>
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.1s" style="padding: 0px 100px 0px 100px;">
                <h5 class="mb-0">What are benefits of learning Computer Networks?</h5><br>
                <p class="mb-0">Learning computer networks offers a multitude of benefits, including :</p><br>
               <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Career Advancement :</b> Proficiency in computer networks can lead to better job prospects and advancement opportunities in fields such as network engineering, cybersecurity, system administration, and telecommunications.</p>
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Understanding Modern Technology :</b> In today's interconnected world, knowledge of computer networks is essential for understanding how various technologies communicate and interact with each other.</p>
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Problem-Solving Skills :</b> Networking concepts often involve troubleshooting and problem-solving, which can enhance your critical thinking and analytical skills.</p>
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Effective Communication :</b> Networks facilitate communication between devices, and understanding them enables you to optimize communication systems for efficiency and reliability.</p>
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Security Awareness :</b> Learning about computer networks provides insights into network security threats and how to mitigate them, enhancing your ability to protect systems and data from cyberattacks.</p>
                <br>
            </div>
            <br>

             <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a  target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">Learn Theory(Go to "DCN" in semester 3 in Academics section.)</h5>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.geeksforgeeks.org/what-is-computer-networking/" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">GFG – Introduction to Computer Networks</h5>
                        </div>
                    </div>
                </a>
                </div>
                <br>

                <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://whimsical.com/networking-cheatsheet-by-love-babbar-FcLExFDezehhfsbDPfZDBv" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">Love Babbar – Cheat Sheet of Computer Networks</h5>
                        </div>
                    </div>
                </a>
                </div>
                <br>

            </div>
        </div>
    </div>


    <div class="container-xxl py-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h4 class="section-title bg-white text-center text-primary px-3">Final Touch</h4>
                <h1 class="my-3">Interview Questions</h1>
            </div>
            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans1')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">1. What is internetworking?</p>
                            <p id="ans1" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Internetworking is a combination of two words, inter and networking which implies an association between totally different nodes or segments. This connection area unit is established through intercessor devices akin to routers or gateways. The first term for associate degree internetwork was interconnected. This interconnection is often among or between public, private, commercial, industrial, or governmental networks. Thus, associate degree internetwork could be an assortment of individual networks, connected by intermediate networking devices, that function as one giant network. Internetworking refers to the trade, products, and procedures that meet the challenge of making and administering Internet works.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans2')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">2. Define HTTPS protocol? </p>
                            <p id="ans2" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>The full form of HTTPS is a Hypertext transfer protocol secure. It is an advanced version of the HTTP protocol. Its port number is 443 by default. It uses SSL/TLS protocol for providing security.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans3')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">3. What are nodes and links?</p>
                            <p id="ans3" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Node :</b> Any communicating device in a network is called a Node. Node is the point of intersection in a network. It can send/receive data and information within a network. Examples of the node can be computers, laptops, printers, servers, modems, etc
                           <br><i class="fa fa-arrow-right text-primary me-2"></i><b>Link :</b> A link or edge refers to the connectivity between two nodes in the network. It includes the type of connectivity (wired or wireless) between the nodes and protocols used for one node to be able to communicate with the other.
                           </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

             <div class="row justify-content-lg-center"  onclick="show_answer('ans4')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">4. What are the different types of VPN?</p>
                            <p id="ans4" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Few types of VPN are :
                               <br><b>1. Access VPN :</b> Access VPN is used to provide connectivity to remote mobile users and telecommuters. It serves as an alternative to dial-up connections or ISDN (Integrated Services Digital Network) connections. It is a low-cost solution and provides a wide range of connectivity
                               <br><b>2. Site-to-Site VPN :</b> A Site-to-Site or Router-to-Router VPN is commonly used in large companies having branches in different locations to connect the network of one office to another in different locations. There are 2 sub-categories as mentioned below :
                               <br><b>- Intranet VPN :</b> Intranet VPN is useful for connecting remote offices in different geographical locations using shared infrastructure (internet connectivity and servers) with the same accessibility policies as a private WAN (wide area network)
                               <br><b>- Extranet VPN :</b> Extranet VPN uses shared infrastructure over an intranet, suppliers, customers, partners, and other entities and connects them using dedicated connections
                        </div>
                    </div>
                </div>
            </div>
            <br>

             <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans5')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">5. What is the network topology?</p>
                            <p id="ans5" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Network topology is a physical layout of the network, connecting the different nodes using the links. It depicts the connectivity between the computers, devices, cables, etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.geeksforgeeks.org/networking-interview-questions/" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">More Interview Quetions</h5>
                        </div>
                    </div>
                </a>
                </div>
            </div>
            <br>

        </div>
    </div>
    </div>
    <!-- model image -->
    <!-- The Model -->
    <div id="myModel" class="model">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Model Content (The Image) -->
        <img class="model-content" id="img01">
        <!-- Model Caption (Image Text) -->
        <div id="model_caption"></div>
    </div>
    <!-- Testimonial End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    {{>footer}}

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/home.js"></script>
    <script src="js/dsa.js"></script>
</body>

</html>