<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Curriculum - IT Resource Bank</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    {{>header}}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Curriculum</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item text-white active" aria-current="page">Notes</li>
                            <li class="breadcrumb-item text-white active" aria-current="page">PPTs</li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Books</li>
                            <li class="breadcrumb-item text-white active" aria-current="page">PYQs</li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Lectures</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Semesters</h6>
                <h1 class="mb-5">All Semesters</h1>
            </div>
            <div class="row g-4 ">
                <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Semester 3')">
                        <div class="p-4">
                            <h5 class="mb-3">Semester 3</h5>
                            <p>OOPS / DS / DCN /</p>
                            <p>DBMS / CSA / NM</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Semester 5')">
                        <div class="p-4">
                            <h5 class="mb-3">Semester 5</h5>
                            <p>SE / CG / DM /</p>
                            <p>WebD / Crypto</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Semester 7')">
                        <div class="p-4">
                            <h5 class="mb-3">Semester 7</h5>
                            <p>Software Testing /</p>
                            <p>Cloud Computing</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Departmental Electives')">
                        <div class="p-4">
                            <h5 class="mb-3">Departmental Electives</h5>
                            <p>Data Analytics /</p>
                            <p>Advanced OS</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" >
                    {{!-- <a href="/curriculum/semester?semester=semester-4" style=""> --}}
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Semester 4')">
                        <div class="p-4">
                            <h5 class="mb-3">Semester 4</h5>
                            <p>IDAA / OS / JAVA /</p>
                            <p>DMDWC / FLAT / ECO</p>
                        </div>
                    </div>
                    {{!-- </a> --}}
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Semester 6')">
                        <div class="p-4">
                            <h5 class="mb-3">Semester 6</h5>
                            <p>ML / Mobile App Dev /</p>
                            <p>Soft Computing / OOMD</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Semester 8')">
                        <div class="p-4">
                            <h5 class="mb-3">Semester 8</h5>
                            <p>System Programming</p>
                            <p>E-Com / DSSM</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3 click_cursor" onclick="redirectToSemester('Open Electives')">
                        <div class="p-4">
                            <h5 class="mb-3">Open Electives</h5>
                            <p>BT / ME / IPE / ICE / ME / EE</p>
                            <p>CE / TT / CE / PH / CH / HM / MA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    <form id="semesterForm" method="post" hidden>
        <input type="text" name="semNum" id="semNum" hidden>
    </form>

    {{>footer}}

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>
        window.onload = function(){
            document.getElementById("home_menu").classList.remove("active");
            document.getElementById("curriculam_dropdown").classList.add("active");
            document.getElementById("placements_dropdown").classList.remove("active");
            document.getElementById("feedback_menu").classList.remove("active");
        }
        function redirectToSemester(semester) {
            $('#spinner').addClass('show');
            document.getElementById("semNum").value = semester
            let form = document.getElementById("semesterForm")
            form.setAttribute("action", "/semester")
            form.submit()
        }
    </script>
</body>
</html>