<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Operating System </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta
        content="NIT Jalandhar, Dr B R Ambedkar NITJ, NITJ, National Institute of Technology Jalandhar, NITJ Website, NitJ IT Resource Bank, NitJ IT Notes,NitJ IT,NitJ IT PPTs, DSA, Data Structures and Algorithms, "
        name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="https://www.nitj.ac.in//images/ico/favicon.ico" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {{>header}}

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            {{!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/course-2.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div> --}}
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="padding: 0px 100px 0px 100px;">
                <h4 class="section-title bg-white text-center text-primary px-3">Introduction to Operating System</h4>
                <h1 class="my-3">Operating System</h1>
                <p class="my-3">Operating System lies in the category of system software. It basically manages all the resources of the computer. An operating system acts as an interface between the software and different parts of the computer or the computer hardware. The operating system is designed in such a way that it can manage the overall resources and operations of the computer. 
                  <br>Functions of the Operating System :</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Resource Management</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Process Management</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Memory Management</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Security</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>File Management</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Device Management</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Backup and Recovery</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Performance Monitoring</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Testimonial Start -->

    <div class="container-xxl py-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h4 class="section-title bg-white text-center text-primary px-3">Theory</h4>
                <h1 class="my-3">Learn Operating System</h1>
                <br>
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.1s" style="padding: 0px 100px 0px 100px;">
                <h5 class="mb-0">What is an Operating System Used for?</h5><br>
                <p class="mb-0">The operating system helps in improving the computer software as well as hardware. Without OS, it became very difficult for any application to be user-friendly. The Operating System provides a user with an interface that makes any application attractive and user-friendly. The operating System comes with a large number of device drivers that make OS services reachable to the hardware environment. Each and every application present in the system requires the Operating System. The operating system works as a communication channel between system hardware and system software. The operating system helps an application with the hardware part without knowing about the actual hardware configuration. It is one of the most important parts of the system and hence it is present in every device, whether large or small device.</p><br>
                <br> <p>Types of Operating Systems :</p>
            </div>
            <br>
              <div class="row g-4 justify-content-lg-center"  onclick="show_answer('p1')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">Batch Operating System</p>
                            <p id="p1" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>A batch Processing Operating System (BatchOS) is an open-source operating system designed to manage multiple jobs in sequence. It is based on the CentOS Linux distribution and is licensed under the GNU General Public License. The Batch operating system is designed to support a wide range of batch processing tasks, including data warehousing, OLAP and data mining, big data processing, data integration, and time series analysis.Batch processing is a process that is used in many industries to improve efficiency. It is a type of operating system that is used to manage multiple tasks and processes in a sequence. It is a type of operating system that is used to improve the efficiency of a business by allowing it to run multiple tasks at the same time.
                            <br><br><button type="button" class="btn btn-dark"><a href="https://www.geeksforgeeks.org/batch-processing-operating-system/" target="_blank">More detail</a></button></p></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('p2')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">Time-sharing Operating System </p>
                            <p id="p2" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Multiprogrammed, batched systems provide an environment where various system resources were used effectively, but it did not provide for user interaction with computer systems. Time-sharing is a logical extension of multiprogramming. The CPU performs many tasks by switches that are so frequent that the user can interact with each program while it is running. A time-shared operating system allows multiple users to share computers simultaneously. With each action or order at a time the shared system becomes smaller, so only a little CPU time is required for each user. As the system rapidly switches from one user to another, each user is given the impression that the entire computer system is dedicated to its use, although it is being shared among multiple users.
                            <br><br><button type="button" class="btn btn-dark"><a href="https://www.geeksforgeeks.org/time-sharing-operating-system/" target="_blank">More detail</a></button></p></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('p3')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">Distributed Operating System</p>
                            <p id="p3" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>A distributed System is a collection of autonomous computer systems that are physically separated but are connected by a centralized computer network that is equipped with distributed system software. The autonomous computers will communicate among each system by sharing resources and files and performing the tasks assigned to them.
                           <br><br><button type="button" class="btn btn-dark"><a href="https://www.geeksforgeeks.org/what-is-a-distributed-system/" target="_blank">More detail</a></button></p></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

             <div class="row justify-content-lg-center"  onclick="show_answer('p4')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">Network Operating System</p>
                            <p id="p4" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i> Network Operating System is a type of operating system that runs on a server and provides the capability to manage data, users, groups, security, applications, and other networking functions.
                            <br><br><button type="button" class="btn btn-dark"><a href="https://www.geeksforgeeks.org/what-is-a-network-operating-system/" target="_blank">More detail</a></button></p></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

             <div class="row g-4 justify-content-lg-center"  onclick="show_answer('p5')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">Real-time Operating System</p>
                            <p id="p5" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Real-time operating systems (RTOS) are used in environments where a large number of events, mostly external to the computer system, must be accepted and processed in a short time or within certain deadlines. such applications are industrial control, telephone switching equipment, flight control, and real-time simulations.  With an RTOS, the processing time is measured in tenths of seconds. This system is time-bound and has a fixed deadline. The processing in this type of system must occur within the specified constraints. Otherwise, This will lead to system failure. Examples of real-time operating systems are airline traffic control systems, Command Control Systems, airline reservation systems, Heart pacemakers, Network Multimedia Systems, robots, etc.
                            <br><br><button type="button" class="btn btn-dark"><a href="https://www.geeksforgeeks.org/real-time-operating-system-rtos/" target="_blank">More detail</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

              <div class="row g-4 justify-content-lg-center"  onclick="show_answer('p6')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">Multiprocessing Operating System</p>
                            <p id="p6" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i> Multiprocessor Operating Systems are used in operating systems to boost the performance of multiple CPUs within a single computer system. Multiple CPUs are linked together so that a job can be divided and executed more quickly.
                         <br><br><button type="button" class="btn btn-dark"><a href="https://www.geeksforgeeks.org/introduction-of-multiprocessor-and-multicomputer/" target="_blank">More detail</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

             <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a  target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">Learn Theory(Go to "OS" in semester 4 in Academics section.)</h5>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.geeksforgeeks.org/introduction-of-operating-system-set-1/" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">GFG – Introduction of Operating System</h5>
                        </div>
                    </div>
                </a>
                </div>
                <br>

                <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://whimsical.com/operating-system-cheatsheet-by-love-babbar-S9tuWBCSQfzoBRF5EDNinQ" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">Love Babbar – Cheat Sheet of Operating System</h5>
                        </div>
                    </div>
                </a>
                </div>
                <br>

            </div>
        </div>
    </div>


    <div class="container-xxl py-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h4 class="section-title bg-white text-center text-primary px-3">Final Touch</h4>
                <h1 class="my-3">Interview Questions</h1>
            </div>
            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans1')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">1. Why is the operating system important?</p>
                            <p id="ans1" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>OS is the most essential and vital part of a computer without which it is considered useless. It enables an interface or acts like a link for interaction between computer software that is installed on OS and users. It also helps to communicate with hardware and also maintains balance among hardware and CPU. It also provides services to users and a platform for programs to run on. It performs all common tasks applications require. </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans2')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">2. What do you mean by process synchronization? </p>
                            <p id="ans2" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Process synchronization is basically a way to coordinate processes that use shared resources or data. It is very much essential to ensure synchronized execution of cooperating processes so that will maintain data consistency. Its main purpose is to share resources without any interference using mutual exclusion. There are two types of process synchronization :
                             <br>1. Independent Process
                             <br>2. Cooperative Process</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans3')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0"> What do you mean by overlays in OS?</p>
                            <p id="ans3" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Overlays is basically a programming method that divides processes into pieces so that instructions that are important and need can be saved in memory. It does not need any type of support from the OS. It can run programs that are bigger in size than physical memory by only keeping only important data and instructions that can be needed at any given time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

             <div class="row justify-content-lg-center"  onclick="show_answer('ans4')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">4. What do you mean by FCFS?</p>
                            <p id="ans4" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>FCFS (First Come First Serve) is a type of OS scheduling algorithm that executes processes in the same order in which processes arrive. In simple words, the process that arrives first will be executed first. It is non-preemptive in nature. FCFS scheduling may cause the problem of starvation if the burst time of the first process is the longest among all the jobs. Burst time here means the time that is required in milliseconds by the process for its execution. It is also considered the easiest and simplest OS scheduling algorithm as compared to others. 
                            Implementation of FCFS is generally managed with help of the FIFO (First In First Out) queue. </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

             <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans5')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">5. What is Context Switching?</p>
                            <p id="ans5" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Context switching is basically a process of saving the context of one process and loading the context of another process. It is one of the cost-effective and time-saving measures executed by CPU the because it allows multiple processes to share a single CPU. Therefore, it is considered an important part of a modern OS. This technique is used by OS to switch a process from one state to another i.e., from running state to ready state. It also allows a single CPU to handle and control various different processes or threads without even the need for additional resources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.geeksforgeeks.org/operating-systems-interview-questions//" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">More Interview Quetions</h5>
                        </div>
                    </div>
                </a>
                </div>
            </div>
            <br>

        </div>
    </div>
    </div>
    <!-- model image -->
    <!-- The Model -->
    <div id="myModel" class="model">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Model Content (The Image) -->
        <img class="model-content" id="img01">
        <!-- Model Caption (Image Text) -->
        <div id="model_caption"></div>
    </div>
    <!-- Testimonial End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    {{>footer}}

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/home.js"></script>
    <script src="js/dsa.js"></script>
</body>

</html>