<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Curriculum - IT Resource Bank</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {{>header}}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 id="semester_name" class="display-3 text-white animated slideInDown"></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <form id="semesterForm" hidden>
        <input id="semName" value="{{semName}}" hidden>
        <input id="sebjectList" value="{{subjects}}" hidden>
    </form>

    <div class="modal fade" id="showFileModal" tabindex="-1" aria-labelledby="showFileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showFileModalLabel">Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-dismiss="modal"
                        data-bs-target="#showFileModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img class="img-fluid rounded-start" id="PYQsThumbnail" src="img/preview_thumbnail.png"
                                    alt="Thumbnail">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title" id="PYQsTitle">Card title</h5>
                                    <p class="card-text" id="PYQsUpvotes"><b>Close and Reopen...</b> </p>
                                    <p class="card-text" id="PYQsDownvotes"><b>Close and Reopen...</b> </p>
                                    <p class="card-text" id="PYQsAuther"><b>Close and Reopen...</b> </p>
                                    <p class="card-text" id="PYQsTopics"><b>Topics Covered:</b> </p>
                                    <p class="card-text" id="PYQsDesc"><b>Description:</b> </p>
                                    <input hidden type="text" id="PYQsID">
                                    <input hidden type="text" id="PYQsExtension">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="font-monospace fs-6 text-end" style="color: dodgerblue;" id="download_message"></p>
                </div>
                <div class="modal-footer" id="modal-buttons">
                    <button type="button" id="openFileBtn" class="btn btn-primary">Open File</button>
                    <button type="button" id="downloadFileBtn" class="btn btn-primary">Download File</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        data-bs-target="#showFileModal" aria-label="Close" id="showFileModalClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div id="subjects" class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Subjects</h6>
                <h1 class="mb-5">Theory</h1>
            </div>
        </div>
        <br>
        <div id="lab_subjects" class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Subjects</h6>
                <h1 class="mb-5">Pratical</h1>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">PYQs</h6>
                <h1 class="mb-5">Previous Year Question Papers</h1>
            </div>
            <div class="row g-4" id="pyqs">

            </div>
        </div>
    </div>
    <!-- Service End -->

    <form id="subjectForm" method="get" hidden>
        <input type="text" name="subjectID" id="subIDSend" hidden>
        <input type="text" name="subjectName" id="subNameSend" hidden>
    </form>

    {{>footer}}

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/semester.js"></script>
    <script>
        window.onload = function () {
            document.getElementById("home_menu").classList.remove("active");
            document.getElementById("curriculam_dropdown").classList.add("active");
            document.getElementById("placements_dropdown").classList.remove("active");
            document.getElementById("feedback_menu").classList.remove("active");
            document.getElementById("me_dropdown").classList.remove("active");
        }
    </script>
</body>

</html>