<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Web Development</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta
        content="NIT Jalandhar, Dr B R Ambedkar NITJ, NITJ, National Institute of Technology Jalandhar, NITJ Website, NitJ IT Resource Bank, NitJ IT Notes,NitJ IT,NitJ IT PPTs, DSA, Data Structures and Algorithms, "
        name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed"
        href="https://www.nitj.ac.in//images/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="https://www.nitj.ac.in//images/ico/favicon.ico" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {{>header}}

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            {{!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/course-2.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div> --}}
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="padding: 0px 100px 0px 100px;">
                <h4 class="section-title bg-white text-center text-primary px-3">Introduction to Web Development</h4>
                <h1 class="my-3">Web Development</h1>
                <p class="my-3">Web development is the process of creating, building, and maintaining websites or web applications. It involves various tasks, including web design, content creation, client-side and server-side scripting, database management, and network security. Web developers use programming languages such as HTML, CSS, JavaScript, and server-side languages like PHP, Python, or Ruby, along with frameworks and libraries to create interactive and functional websites.
                    The word Web Development is made up of two words, that is :<br>
                   <b>Web :</b> It refers to websites, web pages or anything that works over the internet<br>
                  <b> Development :</b> It refers to building the application from scratch.</p>
                  <p>Web Development can be classified into two ways :</p><br>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Frontend Development</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Backend Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Testimonial Start -->

    <div class="container-xxl py-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h4 class="section-title bg-white text-center text-primary px-3">Theory</h4>
                <h1 class="my-3">Learn Web Development</h1>
                <br>
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.1s" style="padding: 0px 100px 0px 100px;">
                <h5 class="mb-0">Frontend Development :</h5><br>
                <p class="mb-0">The part of a website where the user interacts directly is termed as front end. It is also referred to as the ‘client side’ of the application.</p><br>
                <h5 class="mb-0">Frontend Roadmap : </p></h5>
                 <img class="img-fluid" style="width: 1000px; height: 800px;" src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20220825163009/Front-End-Frameworks-and-Libraries1.png">
            <h5 class="mb-0">Backend Development :</h5><br>
                <p class="mb-0">Backend is the server side of a website. It is part of the website that users cannot see and interact with. It is the portion of software that does not come in direct contact with the users. It is used to store and arrange data.</p><br>
                <h5 class="mb-0">Backend Roadmap : </p></h5>
                 <img class="img-fluid" style="width: 1000px; height: 800px;" src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309162115/Backend-design-roadmap.jpeg">
            </div>
            <br>
            <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a  target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">Learn Theory(Go to "WEBD"" in semester 5rs in Academics section.)</h5>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <br>
            <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.w3schools.com/whatis/" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">W3Schools – Web Development RoadMap</h5>
                        </div>
                    </div>
                </a>
                </div>
                <br>
            <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.geeksforgeeks.org/web-development/" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">GFG – Web Development</h5>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h4 class="section-title bg-white text-center text-primary px-3">Final Touch</h4>
                <h1 class="my-3">Interview Questions</h1>
            </div>
            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans1')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">1. What is Web Development? </p>
                            <p id="ans1" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Web Development is a combination of the words i.e., Web (refers to web pages, websites, or anything over the internet) and Development (the act of building such applications from scratch). It entails building and maintaining websites and web-based applications such as social networking sites, online eCommerce sites. This process involves creating a website that looks great, runs smoothly, and has a seamless user experience. Web design, web publishing, web programming, and database management are all part of this process.  </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans2')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">2. How is XHTML different from HTML?</p>
                            <p id="ans2" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>All tags in XHTML must be in lowercase
                             <br><i class="fa fa-arrow-right text-primary me-2"></i>XHTML requires the use of double quotes for all attributes
                             <br><i class="fa fa-arrow-right text-primary me-2"></i>In XHTML, tags must be properly closed  
                             <br><i class="fa fa-arrow-right text-primary me-2"></i>XHTML does not permit an inline element to contain a block-level element </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row g-4 justify-content-lg-center"  onclick="show_answer('ans3')">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-3">
                            <p class="mb-0">3. Explain DOM (Document Object Model).</p>
                            <p id="ans3" class="interview_ans mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>The DOM enables programmatic reading, manipulation, and modification of an XML document. The XMLReader class also reads XML, but it does so in a non-cached, forward-only, read-only manner.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
              <div class="row g-4 justify-content-lg-center">
                <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.interviewbit.com/web-developer-interview-questions/" target="_blank">
                    <div class="service-item text-left click_cursor pt-3">
                        <div class="p-1">
                            <h5 class="mb-3 ms-5">More Interview Quetions</h5>
                        </div>
                    </div>
                </a>
                </div>
            </div>
            <br>


        </div>
    </div>
    </div>
   <div id="myModel" class="model">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Model Content (The Image) -->
        <img class="model-content" id="img01">
        <!-- Model Caption (Image Text) -->
        <div id="model_caption"></div>
    </div>
    <!-- Testimonial End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    {{>footer}}

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/home.js"></script>
    <script src="js/dsa.js"></script>
</body>

</html>